DATABASE_URL="postgresql://baohiem:baohiem_secret_2026@localhost:5432/baohiemluadao?schema=public"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="baohiemluadao_jwt_secret_key_2026_very_long"
PORT=3001
NODE_ENV=development
